<div class="container">
  <h3 class="center light-blue-text text-darken-4">Editar servicio</h3>

  <%= render 'form', service: @service %>

  <a class="waves-effect waves-light btn grey darken-3"  <%= link_to 'Regresar', services_path %></a>



</div>
