<div class="container">
  <h3 class="center-align light-blue-text text-darken-4">Editar Usuario</h3>

  <%= render 'form', user: @user %>
  <br>
  <br>
  <a class="waves-effect waves-light btn grey darken-3"<%= link_to 'Mostar', @user %> </a>
  <a class="waves-effect waves-light btn grey darken-3"  <%= link_to 'Regresar', users_path %></a>


</div>
