<div class="container">
  <h2 class="center-align">Nuevo Usuario</h2>
  <br>
  <%= render 'form', user: @user %>

  <a class="waves-effect waves-light btn"<%= link_to 'Regresar', users_path %></a>

</div>
