<div class="container">
  <h2>Editing Project Payment</h2>

  <%= render 'form', project_payment: @project_payment %>

  <%= link_to 'Show', @project_payment %> |
  <%= link_to 'Back', project_payments_path %>


</div>
