<div class="container">
  <h2 class="center-align">Nuevo pago del proyecto</h2>
<br>
  <%= render 'form', project_project_payment: @project_payment %>

  <a class="waves-effect waves-light btn grey darken-3"<%= link_to 'Regresar', @project %></a>
</div>
