<div class="container">
  <h2>Editar Cliente</h2>

  <%= render 'form', client: @client %>
  <a class="waves-effect waves-light btn"<%= link_to 'Show', @client %></a>
  <a class="waves-effect waves-light btn"<%= link_to 'Back', clients_path %></a>


</div>
