<div class="container">
  <h2 class="center-align">Nuevo Cliente</h2>
  <br>

  <%= render 'form', client: @client %>
  <br>
  <a class="waves-effect waves-light btn"<%= link_to 'Regresar', clients_path %></a>



</div>
