<div class="container">

  <h2 class="center-align">Editar Proyecto</h2>
  <br>
  <%= render 'form', project: @project %>
  <br>
  
  <a class="waves-effect waves-light btn"<%= link_to 'Mostrar', @project %></a>
  <a class="waves-effect waves-light btn"<%= link_to 'Regresar', projects_path %></a>


</div>
