<div class="container">

  <h3 class="center-align light-blue-text text-darken-4">Editar Proyecto</h3>
  <br>
  <%= render 'form', project: @project %>
  <br>

  <a class="waves-effect waves-light btn grey darken-3"<%= link_to 'Mostrar', @project %></a>
  <a class="waves-effect waves-light btn grey darken-3"<%= link_to 'Regresar', projects_path %></a>


</div>
