<div class="container">

  <h2 class="center-align">Nuevo Proyecto</h2>
<br>
  <%= render 'form', project: @project %>
  <a class="waves-effect waves-light btn"<%= link_to 'Regresar', projects_path %></a>





</div>
