<div class="container">
  <h3 class="center-align light-blue-text text-darken-4">Editar datos de la empresa</h3>
  <br>
  <%= render 'form', company_detail: @company_detail %>

  <a class="waves-effect waves-light btn grey darken-3"<%= link_to 'Regresar', company_details_path %></a>


</div>
