<div class="container">
  <h2 class="center-align">Agregar colaborador al proyecto</h2>
  <br>
  <br>
  <%= render 'form', project_project_contributor: @project_contributor %>
  <br>
  <a class="waves-effect waves-light btn grey darken-3"<%= link_to 'Regresar', @project %></a>

</div>
