<div class="container">
  <h2>Agregar colaborador al proyecto</h2>
  <br>
  <br>
  <%= render 'form', project_project_contributor: @project_contributor %>
  <br>
  <a class="waves-effect waves-light btn"<%= link_to 'Regresar', @project %></a>

</div>
