/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";

$text-mark: #00acc1;

a, a:visited{
  color: $text-mark;
}

a:hover{
  background: none;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: 16px;
}

footer{
  margin-top: 4em !important;
}

main {
  flex: 1 0 auto;
}

p{
  font-size: 1em;
}

td {
  font-size: 16px;
}

th{
  font-size: 18px;
}

h5{
  color:#666;
}

#nav-mobile{
  line-height: 64px;
}
#nav-mobile a, #nav-mobile a:visited{
  color: white;
  font-weight: bold;
}

#nav-mobile li{
  transition: background-color .3s;
}

#nav-mobile li:hover{
  background-color: rgba(255, 255, 255, 0.4);
}

#nav-mobile li.active{
  background-color: rgba(255, 255, 255, 0.4);
}

.bold{
  font-weight: bold;
}

.btn a, .btn:visited{
  color: white;
  font-size: 11px;
}

.no-visible{
  display: none;
}


.pharagraph-reduced{
  margin: 1em;
}
