/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";

$text-mark: #00acc1;

a, a:visited{
  color: $text-mark;
}

a:hover{
  background: none;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  min-height: 100%;
  padding-bottom: 7em;
  position: relative;
}

footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: .3em !important;

  p{
    text-align: right !important;
    margin: .2em;
  }
}

html{
  height: 100%;
}

main {
  flex: 1 0 auto;
}

p{
  font-size: 1em;
}

td {
  font-size: 16px;
}

th{
  font-size: 18px;
}

h5{
  color:#666;
}

#nav-mobile{
  line-height: 64px;
}
#nav-mobile a, #nav-mobile a:visited{
  color: white;
  font-weight: bold;
}

#nav-mobile li{
  transition: background-color .3s;
}

#nav-mobile li:hover{
  background-color: rgba(255, 255, 255, 0.4);
}

#nav-mobile li.active{
  background-color: rgba(255, 255, 255, 0.4);
}

.add-btn {
  font-weight: bold;
  margin: 1em;
  border-radius: 2em;
}

.add-btn::before{
  content: "+";
  font-size: 1.6em;
  font-weight: bold;
  margin-right: 1em;
  padding-top: .2em;
}

.bold{
  font-weight: bold;
}

.btn a, .btn:visited{
  color: white;
  font-size: 11px;
}

.flash-message{
  margin: .5em;
  text-align: center;
  text-shadow: 1px 1px 1px grey;
  font-weight: bold;

  i{
    font-weight: bold;
  }
}

.flash-message.notice{
  background-color: #12b2bd;
}

.flash-message.alert{
  color: #f6f6f6 !important;
  background-color: #db4848;
}

.no-visible{
  display: none;
}

.no-margin {
  margin: 0;
}

.pharagraph-reduced{
  margin: 1em;
}

.percentage-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.inicialinfo{
  border: 2px solid rgba(182, 182, 182, 0.40);


}
.ini{
  color: #212121;
  font-size: 22px;
  background: #fff3e0;
  border-radius: 10px;
  padding: 0.5em;

}
.input-field label{
  color: #01579b;
}
.input-field input[type=text]:focus + label {
    color: #91887f;
}
.input-field input[type=text]:focus {
   border-bottom: 1px solid #91887f;
   box-shadow: 0 1px 0 0 #91887f;
}
.input-field input[type=password]:focus + label {
   color: #91887f;
}
.input-field input[type=password]:focus {
  border-bottom: 1px solid #91887f;
  box-shadow: 0 1px 0 0 #91887f;
}
.input-field .prefix.active {
  color: #91887f;
}
.input-field textarea[class=materialize-textarea]:focus {
border-bottom: 1px solid #91887f;
box-shadow: 0 1px 0 0 #91887f;
}

.no-margin-bottom{
  margin-bottom: 0 !important;
}
