
<div class="container">
  <h2 class="center-align">Editar Colaborador</h2>

  <%= render 'form', contributor: @contributor %>
  <a class="waves-effect waves-light btn grey darken-3"<%= link_to 'Mostrar', @contributor %>
  </a>
  <a class="waves-effect waves-light btn grey darken-3"<%= link_to 'Regresar', contributors_path %>
  </a>



</div>
