
<div class="container">
  <h3 class="center-align light-blue-text text-darken-4">Editar Colaborador</h3>

  <%= render 'form', contributor: @contributor %>
  <a class="waves-effect waves-light btn grey darken-3"<%= link_to 'Mostrar', @contributor %>
  </a>
  <a class="waves-effect waves-light btn grey darken-3"<%= link_to 'Regresar', contributors_path %>
  </a>



</div>
