<div class="container">
  <h2 class="center-align">Nuevo colaborador</h2>
<br>
  <%= render 'form', contributor: @contributor %>
  <a class="waves-effect waves-light btn"<%= link_to 'Regresar', contributors_path %></a>



</div>
