<div class="container">
  <h3 class="center-align light-blue-text text-darken-4">Nuevo colaborador</h3>
<br>
  <%= render 'form', contributor: @contributor %>
  <a class="waves-effect waves-light btn grey darken-3"<%= link_to 'Regresar', contributors_path %></a>



</div>
